header {
  position: sticky;
  top: 0;  
  
  .navbar {
    height: 5.625rem; // 90px
    display: grid;
    grid-template-columns: 200px 1fr auto;
    align-items: center;
    background-color: white;
    padding: 0 10rem; // 160px
  }

  .branding {
    display: grid;
    place-items: center;

    img {
      width: 100%;
      max-width: 200px;
    }
  }

  .nav-links {
    a {
      cursor: pointer;
      color: $accent-blue;
      margin-left: 4.375rem; // 70px;

      &:hover {
        border-bottom: 1px solid $accent-blue;
        padding-bottom: 0.5rem;
        transition: 0.2s ease-in-out;
      }
    }

  }

  .dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

    img {
      border-radius: 50px;
      object-fit: cover;
      cursor: pointer;
    }
    
    .notification {
      background-color: $gray;
      width: 40px;
      height: 40px;

    }
    
    .avatar {
      width: 45px;
      height: 45px;
    }
  }
}