.services {
  height: 100vh;
  padding-top: 120px;
  
  .services-intro {
    text-align: center;
    // margin-bottom: 2.9375rem;
    // padding-top: 5rem;

  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5.625rem 0 1.875rem;
    
    .card {
      text-align: center;

      padding: 30px 5.4375rem;

      img {
        width: 80px;
        margin-bottom: 1rem;
      }
      
      h3 {
        margin-bottom: 1rem;
      }
      
      &:hover {
        background: linear-gradient(rgb(0, 23, 103), rgb(17, 61, 215));
        border-radius: 20px;
        p, h3 {
          color: $white;

        }
      }
    }
  }
  
}