$accent-blue: #001767;
$white: #ffffff;
$accent-yellow: #FFE500;
$dark: #333333;
$gray: #eeeeee;


// FONTS 
$font-sm: 0.875rem; // 14px
$font-md: 1.125rem; // 18px
$font-lg: 1.875rem; // 30px
$font-xl: 4rem; // 64px


$regular: 400;
$medium: 500;
$bold: 700;

// LAYOUT
$mobile: 23.4375rem; //375px
$tablet: 43.75rem; //700px
$desktop: 90rem; // 1440px