$accent-blue: #001767;
$white: #ffffff;
$accent-yellow: #FFE500;
$dark: #333333;
$gray: #eeeeee;


// FONTS SIZES
$font-sm: 0.875rem; // 14px
$font-md: 1.125rem; // 18px
$font-lg: 1.875rem; // 30px
$font-xl: 4rem; // 64px

// FONT WEIGHTS
$regular: 400;
$medium: 500;
$bold: 700;
